@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Components
@import "components/header";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #222;

    &.auth {
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.6) url('/images/auth-bg.jpg') no-repeat 50% fixed;
        background-size: cover;
    }
}

section {
    h2 {
        span {
            @apply text-blue-600 border-b-2 border-blue-500 pb-2;
        }
    }
}

section.features {
    background: rgba(237, 242, 247, 1) url('/images/bg-paws-pattern.png') repeat;
}

section.team {
    .team-member {
        img {
            max-width: 80px;
            transition: border-radius 1ms, transform 300ms;

            &:hover {
                border-radius: 0;
                transform: scale(2);
            }
        }
    }
}

section.more-info {
    background: url('/images/bg-cats-pattern.png') repeat;
}


footer {
    img {
        max-width: 48px;
    }
}
